@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 217 91% 90.8%;
    --foreground: 224 71.4% 4.1%;
    --card: 217 91% 96%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 217 91% 96%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 227 70% 56.1%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 271 76% 53%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 227 70% 56.1%;
    --radius: 0.5rem;
    --chart-1: 227 70% 56%;
    --chart-2: 271 76% 53%;
    --chart-3: 160 60% 45%;
    --chart-4: 30 80% 55%;
    --chart-5: 280 65% 60%;
    --sidebar-background: 217 91% 96%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 227 70% 56.1%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217 91% 90.8%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
    --sidebar-border: 220 13% 85%;
    --sidebar-ring: 227 70% 56.1%;
  }

  .dark {
    --background: 222 84% 4.9%;
    --foreground: 210 20% 98%;
    --card: 222 84% 4.9%;
    --card-foreground: 210 20% 98%;
    --popover: 222 84% 4.9%;
    --popover-foreground: 210 20% 98%;
    --primary: 227 70% 56.1%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 271 76% 53%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 227 70% 56.1%;
    --chart-1: 227 70% 56%;
    --chart-2: 271 76% 53%;
    --chart-3: 160 60% 45%;
    --chart-4: 30 80% 55%;
    --chart-5: 280 65% 60%;
    --sidebar-background: 222 84% 4.9%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 227 70% 56.1%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 215 27.9% 16.9%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 27.9% 16.9%;
    --sidebar-ring: 227 70% 56.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
